@using TeraNetSystem.Web.Models
@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change password form";
}
<div class="center-block logig-form animated fadeInDown">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title.</div>
        <div class="panel-body">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                <div class="input-group login-input">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>

                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                <div class="input-group login-input">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>

                @Html.LabelFor(m => m.ConfirmPassword, new { @class = " control-label" })
                <div class="input-group login-input">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <br/>

                <button type="submit" class="btn btn-ar btn-primary ">Change Password</button>
                <div class="clearfix"></div>
            }   
        </div>
    </div>
</div>