@model TeraNetSystem.Web.Models.ApplicationUserViewModel
<h2>@Model.UserName</h2>

<section>
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-user"></i> General Information</div>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Password</th>
                    <td>
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")  
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                    </td>
                </tr>
                <tr>
                    <th>Fullname</th>
                    <td>@Model.FullName</td>
                </tr>
                <tr>
                    <th>Town</th>
                    <td>@Model.TownName</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>@Model.Address</td>
                </tr>
                <tr>
                    <th>Subscription plan</th>
                    <td>@Model.Subscription.SubscriptionName</td>  @*TODO: Link to subscription plan*@
                </tr>
                <tr>
                    <th>Contract number</th>
                    <td>
                        @if (@Model.ContractNumber != null)
                        {
                            @Model.ContractNumber
                        }
                        else
                        {
                            <span class="text-danger">No contract</span>
                        }
                    </td>
                </tr>

                <tr>
                    <th>Phone Number</th>
                    <td>
                        @if (@Model.PhoneNumber != null)
                        {
                            @Model.PhoneNumber
                        }
                        else
                        {
                            <span class="text-danger">No phone nummber</span>
                        }
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        @if (@Model.Email != null)
                        {
                            @Model.Email
                        }
                        else
                        {
                            <span class="text-danger">No email</span>
                        }
                    </td>
                </tr>
                <tr>
                    <th>Member Since</th>
                    <td>@String.Format("{0} {1} {2}", Model.RegisteredFrom.Day, (TeraNetSystem.Models.Month)Model.RegisteredFrom.Month, Model.RegisteredFrom.Year) </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

@* TODO: ADD latest payments *@
