@model TeraNetSystem.Web.Models.IndexViewModel
<h2>@ViewBag.User.UserName</h2>

<section>
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-user"></i> General Information</div>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Password</th>
                    <td>
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")  
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                    </td>
                </tr>
                <tr>
                    <th>Fullname</th>
                    <td>@ViewBag.User.FirstName @ViewBag.User.LastName</td>
                </tr>
                <tr>
                    <th>Town</th>
                    <td>@ViewBag.User.Town.TownName</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>@ViewBag.User.Address</td>
                </tr>
                <tr>
                    <th>Subscription plan</th>
                    <td>@ViewBag.User.Subscription.SubscriptionName</td>  @*TODO: Link to subscription plan*@
                </tr>
                <tr>
                    <th>Contract number</th>
                    <td>
                        @if (ViewBag.User.ContractNumber != null)
                        {
                            @ViewBag.User.ContractNumber
                        }
                        else
                        {
                            <span class="text-danger">No contract</span>
                        }
                    </td>
                </tr>

                <tr>
                    <th>Phone Number</th>
                    <td>
                        @if (ViewBag.User.PhoneNumber != null)
                        {
                            @ViewBag.User.PhoneNumber
                        }
                        else
                        {
                            <span class="text-danger">No phone nummber</span>
                        }
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        @if (ViewBag.User.Email != null)
                        {
                            @ViewBag.User.Email
                        }
                        else
                        {
                            <span class="text-danger">No email</span>
                        }
                    </td>
                </tr>
                <tr>
                    <th>Member Since</th>
                    <td>@ViewBag.User.DateRegistered</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

@* TODO: ADD latest payments *@
