@model TeraNetSystem.Web.Areas.Administration.Models.TownViewModel
<div class="panel panel-default portfolio-item-panel col-lg-6 no-padding">
    <div class="panel-heading">
        @ViewBag.Title - @Model.TownName
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">
            <li class="row">
                <span class="col-lg-4">
                    @Html.LabelFor(m => m.Id)
                </span>
                <span class="col-lg-4">
                    @Html.DisplayTextFor(m => m.Id)
                </span>
            </li>
            <li class="row">
                <span class="col-lg-4">
                    @Html.LabelFor(m => m.TownName)
                </span>
                <span class="col-lg-4">
                    @if (ViewBag.Title == "Delete town")
                    {
                        @Html.DisplayTextFor(m => m.TownName)
                    }
                    else
                    {
                        @Html.EditorFor(m => m.TownName)
                    }
                </span>
            </li>
            <li class="row">
                <span class="col-lg-4">
                    @Html.LabelFor(m => m.OfficesCount)
                </span>
                <span class="col-lg-4">
                    @Html.DisplayTextFor(m => m.OfficesCount)
                </span>
            </li>
            <li class="row">
                <span class="col-lg-4">
                    @Html.LabelFor(m => m.UsersCount)
                </span>
                <span class="col-lg-4">
                    @Html.DisplayTextFor(m => m.UsersCount)
                </span>
            </li>
        </ul>
    </div>
</div>
