@model IEnumerable<TeraNetSystem.Web.Models.PaymentViewModel>

@{
    ViewBag.Title = "List paymets";
}

<div>
    @using (Html.BeginForm("ListPayments", "Payment", null, FormMethod.Get, new { @class = "form-horizontal", id = "searchForm" }))
    {
        @Html.Partial("_SearchPaymentPartial", (TeraNetSystem.Web.Areas.Office.Models.PaymentSearchModel)TempData["Search"])
    }
    @if (@Model.Count() == 0)
    {
        <h1 class="text-center text-info">No payments found!</h1>
    }
    else
    {
       
        <h3>Found payments:</h3>
        for (int i = 1; i <= ViewBag.Pages; i++)
        {
            var searchmodel = (TeraNetSystem.Web.Areas.Office.Models.PaymentSearchModel)TempData["Search"];
            <a class="pageButton button button-flat@( i==ViewBag.PageNumber ? "-primary" : "") button-circle" href="@Url.Action("ListPayments", new { page = i, FromDate = searchmodel.FromDate, ToDate = searchmodel.ToDate, PerMonth = searchmodel.PerMonth, TownName = searchmodel.TownName, Address = searchmodel.Address, UserName = searchmodel.UserName, FullName = searchmodel.FullName })">@i</a>
        }
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Town</th>
                    <th>Office name</th>
                    <th>Username</th>
                    <th>Full name</th>
                    <th>Made on</th>
                    <th>Per month</th>
                    <th>Full Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var payment in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(t => payment.Office.TownName)</td>
                        <td>@Html.DisplayFor(t => payment.Office.Name)</td>
                        <td>@Html.DisplayFor(t => payment.Client.UserName)</td>
                        <td>@Html.DisplayFor(t => payment.Client.FullName)</td>
                        <td>@Html.DisplayFor(t => payment.DateCreated)</td>
                        <td>@Html.DisplayFor(t => payment.PerMonth)</td>
                        <td>
                            <a class="button button-rounded button-flat-primary" href="@Url.Action("Details", "Payment", new { id = payment.Id})">
                                <i class="fa fa-info">
                                    Details
                                </i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>