@model IEnumerable<TeraNetSystem.Web.Areas.Administration.Models.TownViewModel>

@{
    ViewBag.Title = "List Towns";
}
<div class="admin-panel">

    <h2>@ViewBag.Title</h2>
    @for (int i = 1; i <= ViewBag.Pages; i++)
    {
        <a class="button button-flat button-circle" href="@Url.Action("ListTowns", new { id = i })">@i</a>
    }
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Users Count</th>
                <th>Offices Count</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var currnetTown in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(t => currnetTown.Id)</td>
                    <td>@Html.DisplayFor(t => currnetTown.TownName)</td>
                    <td>@Html.DisplayFor(t => currnetTown.UsersCount)</td>
                    <td>@Html.DisplayFor(t => currnetTown.OfficesCount)</td>
                    <td>
                        <a class="button button-rounded button-flat-primary" href="@Url.Action("EditPage", "Town", new { id = currnetTown.Id})">
                            <i class="fa fa-refresh">
                                Edit
                            </i>
                        </a>
                        
                    </td>
                    <td>
                        <a class="button button-rounded button-flat-caution" href="@Url.Action("DeletePage", "Town", new { id = currnetTown.Id})">
                            <i class=" glyphicon glyphicon-remove-sign">
                                Delete
                            </i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="@Url.Action("CreatePage", "Town")" class="button button-block button-rounded button-primary button-large">Add town</a>
    
</div>
