@model IEnumerable<TeraNetSystem.Web.Areas.Administration.Models.AdminOfficeViewModel>

@{
    ViewBag.Title = "List Offices";
}
<div class="admin-panel">

    <h2>@ViewBag.Title </h2>
    @for (int i = 1; i <= ViewBag.Pages; i++)
    {
        <a class="button button-flat button-circle" href="@Url.Action("ListOffices", new { id = i })">@i</a>
    }
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Town</th>
                <th>Address</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var currnetOffice in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(t => currnetOffice.Id)</td>
                    <td>@Html.DisplayFor(t => currnetOffice.TownName)</td>
                    <td>@Html.DisplayFor(t => currnetOffice.Address)</td>
                    <td>
                        <a class="button button-rounded button-flat-primary" href="@Url.Action("Details", "Office", new { id = currnetOffice.Id})">
                            <i class="fa fa-info">
                                Details
                            </i>
                        </a>

                    </td>
                    <td>
                        <a class="button button-rounded button-flat-primary" href="@Url.Action("EditPage", "Office", new { id = currnetOffice.Id })">
                            <i class="fa fa-refresh">
                                Edit
                            </i>
                        </a>

                    </td>
                    <td>
                        <a class="button button-rounded button-flat-caution" href="@Url.Action("DeletePage", "Office", new { id = currnetOffice.Id })">
                            <i class=" fa fa-warning">
                                Delete
                            </i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="@Url.Action("CreatePage", "Office")" class="button button-block button-rounded button-primary button-large">Add office</a>

</div>
