<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css/preload.css")
    @Styles.Render("~/Content/css/bootstrap.css")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/css/animate.min.css")
    @Styles.Render("~/Content/css/slidebars.css")
    @Styles.Render("~/Content/css/lightbox.css")
    @Styles.Render("~/Content/css/jquery.bxslider.css")
    @Styles.Render("~/Content/css/ErrorSuccessNotifier/ErrorSuccessNotifier.css")
    @Styles.Render("~/Content/css/syntaxhighlighter/shCore.css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/css/style-blue.css")
    @Styles.Render("~/Content/css/width-full.css")
    @Styles.Render("~/Content/css/buttons.css")

    @Styles.Render("~/Content/css/Site.css")

</head>
<body>
    <header id="header-full-top" class="hidden-xs header-full">
        <div class="container">
            <div class="header-full-title">
                <img src="~/Content/images/TeraNetLogo.png" alt="TeraNetLogo" id="logo" />
            </div>
            <nav class="top-nav">
                <ul class="top-nav-social hidden-sm">
                    <li><a href="https://www.facebook.com/TeraNet2007" class="animated fadeIn facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="animated fadeIn linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                @Html.Partial("_LoginPartial")

            </nav>
        </div>
    </header>
    <nav class="navbar navbar-static-top navbar-default navbar-header-full" role="navigation" id="header">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { Area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Services", "All", "Services", new { Area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Contact", "AllOffices", "Contact", new { Area = string.Empty }, null)</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My payments", "MyPayments", "ClientPayment", new { Area = string.Empty }, null)</li>

                        if (User.IsInRole("NetworkMan") || User.IsInRole("Admin"))
                        {
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Network</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li>@Html.ActionLink("Tasks", "ListTasks", "Task", new { Area = "Office" }, null)</li>
                                </ul>
                            </li>
                        }
                        if (User.IsInRole("OfficeMan") || User.IsInRole("Admin"))
                        {
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Office</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li>@Html.ActionLink("Requests", "ListRequests", "Request", new { Area = "Office" }, null)</li>
                                    <li>@Html.ActionLink("Create payment", "ListUsers", "Payment", new { Area = "Office" }, null)</li>
                                    <li>@Html.ActionLink("List payments", "ListPayments", "Payment", new { Area = "Office" }, null)</li>
                                    <li>@Html.ActionLink("Register Client", "Register", "Account", new { Area = "" }, null)</li>
                                </ul>
                            </li>
                        }
                        if (User.IsInRole("Admin"))
                        {
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li>@Html.ActionLink("Towns", "ListTowns", "Town", new { Area = "Administration" }, null)</li>
                                    <li>@Html.ActionLink("Offices", "ListOffices", "Office", new { Area = "Administration" }, null)</li>
                                    <li>@Html.ActionLink("Subscriptions", "ListSubscriptions", "Subscription", new { Area = "Administration" }, null)</li>
                                    <li>@Html.ActionLink("News", "ListNews", "AdminNews", new { Area = "Administration" }, null)</li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </div><!-- navbar-collapse -->
        </div><!-- container -->
    </nav>
    <div class="container body-content">
        @if (@TempData["Error"] != null)
        {
            <div class="PanelNotificationBox PanelError">@TempData["Error"]</div>
        }
        @if (@TempData["Success"] != null)
        {
            <div class="PanelNotificationBox PanelSuccess">@TempData["Success"]</div>
        }

        @RenderBody()
    </div>
    <aside id="footer-widgets">
        <div class="container">
            <div class="row margin-top margin-bottom">
                <div class="col-md-4">
                    @Html.Partial("_SitemapPartial")
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="footer-widget">
                        <h3 class="footer-widget-title ">Links</h3>
                        <ul class="list-unstyled">
                            <li><a href="https://www.facebook.com/TeraNet2007" class="btn-social solid facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
                            <li><a href="#" class="btn-social solid linkedin"><i class="fa fa-linkedin"></i>Linkedin</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">On Connection Probles</h3>
                        <ul class="list-unstyled">
                            <li>Call Center</li>
                            <li>+359 889 888 999</li>
                        </ul>

                    </div>
                </div>
            </div> <!-- row -->

        </div> <!-- container -->
    </aside>
    <footer id="footer">
        <p>St. Todorov © 2014| Open source project <a href="https://github.com/sttodorov/TeraNetSystem">Github</a>  </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
