@model IEnumerable<TeraNetSystem.Web.Models.PaymentViewModel>

@foreach (var payment in Model)
{
    
    <ul class="list-unstyled">
        <li class="row">
            <span class="col-lg-3 no-padding">@Html.LabelFor(m => payment.DateCreated)</span>
            @Html.DisplayFor(m => payment.DateCreated)
        </li>
        <li class="row">
            <span class="col-lg-3 no-padding">@Html.LabelFor(m => payment.Client.UserName)</span>
           @Html.DisplayFor(m => payment.Client.UserName)
        </li>
        <li class ="row">
            <span class="col-lg-3 no-padding">@Html.LabelFor(m => payment.PerMonth)</span>
            @Html.DisplayFor(m => payment.PerMonth)
        </li>
    </ul>
}
