@model TeraNetSystem.Web.Models.OfficeViewModel
@if (ViewBag.Title != "Contacts")
{
    <h2>
        @ViewBag.Title
    </h2>
}

<div class="content-box box-default margin-top">
    <div class="row">
        <div class="col-md-4">
            <img src="@Url.Content(Model.ImagePath)" alt="OfficeImage" class="img-responsive" width="250">
        </div>
        <div class="col-md-8">
            <h4 class="content-box-title">@Html.DisplayFor(m => m.Id)</h4>

            <ul class="list-unstyled text-left">
                <li class="row">
                    <span class="col-lg-3 no-padding">@Html.LabelFor(m => m.TownName)</span>
                    @Html.DisplayFor(m => m.TownName)
                </li>
                <li class="row">
                    <span class="col-lg-3 no-padding">@Html.LabelFor(m => m.Address)</span>
                    @if (ViewBag.Title == "Edit office")
                    {
                        @Html.EditorFor(m => m.Address, new { Value = Model.Address })
                        @Html.ValidationMessageFor(m => m.Address, "", new { @class="text-danger"})
                    }
                    else
                    {
                        @Html.DisplayFor(m => m.Address)
                    }
                </li>
                <li class="row">
                    <span class="col-lg-3 no-padding">
                        @Html.LabelFor(m => m.Phone)
                    </span>
                    @if (ViewBag.Title == "Edit office")
                    {
                        @Html.EditorFor(m => m.Phone, new { Value = Model.Phone })
                        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })

                    }
                    else
                    {
                        @Html.DisplayFor(m => m.Phone)
                    }
                </li>
            </ul>
            @if (ViewBag.Title != "Contacts")
            {
                Html.RenderPartial("_AdminOfficePartial", Model);
            }
        </div>
    </div>
</div>
