@model TeraNetSystem.Web.Areas.Office.Models.UserSearchModel

<div class="row">
    <span class="col-lg-3">
        @Html.LabelFor(m => m.TownName)
    </span>
    <span class="col-lg-3">
        @Html.LabelFor(m => m.Address)
    </span>
    <span class="col-lg-3">
        @Html.LabelFor(m => m.UserName)
    </span>
    <span class="col-lg-3">
        @Html.LabelFor(m => m.FullName)
    </span>
</div>
<div class="row">
    <span class="col-lg-3">
        @Html.EditorFor(m => m.TownName)
    </span>
    <span class="col-lg-3">
        @Html.EditorFor(m => m.Address)
    </span>
    <span class="col-lg-3">
        @Ajax.ActionLink("ajaxActionLink", "SearchByUsername", "Payment", new { username = string.Empty }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "users-result", InsertionMode = InsertionMode.Replace }, new { id = "AjaxActionLink", @class="hide"})
        @Html.EditorFor(m => m.UserName)
        <div id="users-result" class="hide">
        </div>
    </span>
    <span class="col-lg-3">
        @Html.EditorFor(m => m.FullName)
    </span>
</div>
<div class="row margin-10">
    <button class="button button-rounded button-flat-primary button-large" type="submit">
        Search
    </button>
</div>
